
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

:root {
  --action-blue: #00aeff;
  --action-red: #e83a00;
  --action-yellow: #ffcf00;
  --action-white: #fdfffb;
  --action-black: #030003;

  --bg-color-dark: #1f2023;

  --text-color-light: #b3b3b3;
}

/* skygge under logo */
.logo {
 filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.9));
}

/* H1 til index side. */
.index h1 {
 font-family: "Galada", cursive;
 font-weight: 400;
 font-style: normal;
}

